/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.title {
     color: #ff00ff;
 }
.line-box {
    margin-bottom: 20px;
}
.line-box .button {
    width: 150px;
    padding : 10px 0;
    background-color: #0075ff;
    color: #fff;
    border: none;
    border-radius: 6px;
}
.clearfix {
    *zoom: 1;
}
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/*以下为 practice1 页面的样式代码*/

.item {
    /*width: 700px;*/
    /*height: 190px;*/
    border: 1px solid #ccc;
    padding: 14px;
}
.item-left {
    float: left;
}
.item-left img {
    width: 130px;
    height: 160px;
    margin-right: 14px;
}
.item-right {
    float: left;
    margin-top: 20px;
}
.item-right .right-title {
    font-size: 22px;
    color: #000;
    margin-bottom: 10px;
}
.item-right .description {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}
.right-people {
    margin-bottom: 10px;
}
.right-people img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 10px;
    float: left;
}
.right-people .name {
    font-size: 18px;
    color: #000;
    float: left;
    line-height: 24px;
    margin-right: 10px;
}
.right-people .profession {
    font-size: 16px;
    float: left;
    color: #666;
    line-height: 24px;
}
.right-info {
    line-height: 20px;
}
.right-info .price {
    font-size: 20px;
    color: #ff7e06;
    margin-right: 10px;
    float: left;
}
.right-info .tips {
    font-size: 14px;
    color: #aaa;
    float: left;
    /*line-height: 20px;*/

}